.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 20px;
  /* Adjust margin as needed */
}









body {
  background-color: powderblue;
}

@media (min-width : 1024px) and (max-width : 1440px){.suthratitle
  {
        color: blue;
        background-color: blueviolet;

  }  
}
@media (min-width : 1440px){
  .suthratitle 
  {
        color: red;            
        background-color : green;        
  }  
} 